<header class=" text-center  d-flex my-cover">
  <div class="container my-auto">
    <div class="row">

      <div class="col-md-5 hidden-sm-down">
          <img src="..." class="img-fluid" alt="My image">
      </div>

      <div class="col-md-7">
          <div class="col-lg-10 mx-auto">
              <img src="assets/fullName.png" class="img-fluid" alt="Suneendra Banda">
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Hi, I am software developer.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
      </div>
      
    </div>
  </div>
</header>

